{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row w-100">
        <div class="col-12 mt-2">
            <hr class="w-50 mx-auto">
            <h2 class="text-center">Basket:</h2>
            <hr class="w-50 mx-auto">
        </div>
        <div class="col-12 mt-4">
            <!-- if basket items will only render the table if there are items in the bag-->
            {% if basket_items %}
            {% else %}
            <h3 class="mx-4">Your basket is currently empty.</h3>
             <a href="{% url 'products' %}" class="btn my-btn text-light mx-4"><i class="fas fa-arrow-left"></i> Keep Shopping</a>
            {% endif %}
        </div>
    </div>
{% endblock %}