{% extends "base.html" %}
{% load static %}

{% block content %}
        <div class="row h-100">
            <div class="col-lg-3 offset-lg-1 my-auto">
                <a href="{% url 'products' %}" class="btn my-btn text-light btn-lg rounded-0">Shop Now</a>
            </div>
            <div class="col-lg-3 offset-lg-1 my-auto">
                <a href="#" class="btn my-btn text-light btn-lg rounded-0">Services</a>
            </div>
            <div class="col-lg-3 offset-lg-1 my-auto">
                <a href="#" class="btn my-btn text-light btn-lg rounded-0">Need Something else?</a>
            </div>
        </div>
{% endblock %}