{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}" />
{% endblock %} 
{% block content %}
    <div class="row">
        <div class="col-12">
            <h1 class="title">Amy Hollis Photography</h1>
        </div>
    </div>
    <div class="row options">
        <div class="col-lg-4 my-column my-auto mx-auto">
            <div class="home-opt mx-auto">
                <a href="{% url 'products' %}">Shop Now</a>
            </div>
        </div>
        <div class="col-lg-4 my-column my-auto mx-auto">
            <div class="home-opt mx-auto">
                <a href="{% url 'services' %}" id="service">Services</a>
            </div>
        </div>
        <div class="col-lg-4 my-column my-auto mx-auto">
            <div class="home-opt mx-auto">
                <a href="{% url 'contact' %}" id="contact">Need Something else?</a>
            </div>
        </div>
    </div>
{% endblock %}
