#profile-form-heading {
    padding-left: 1.25rem;
    padding-bottom: 1rem;
    padding-top: 1.25rem;
    font: 50px;
}

#profile-form {
    padding-left: 1.25rem;
    width: 80%;
}

#profile-form button {
    margin-top: 10px;
}

.profile-form-input {
    padding-top: 5px;
}

.order-history {
    max-height: 380px;
    overflow-y: auto;
    margin-right: 3rem;
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 10px;
}

.order_history_table {
    width: 100%;
}

/*--- media queries ---*/
/*-- large tablet sixe --*/
@media (min-height: 1020px) {
    .order-history-div,
    .detail-div {
        width: 90% !important;
        margin-left: 5% !important;
    }
}
/*--- tablet size ---*/
@media (max-width: 800px) {
    .order-history {
        margin-left: 5%;
        width: 90%;
        margin-bottom: 5rem;
    }
    .order-subheading {
        margin-left: 5%;
        margin-top: 1rem;
    }
}

/*--- mobile ---*/
@media (max-width: 400px) {
}

/*-- mobile ---*/
@media (max-width: 340px) {
}
