.overview-img {
    max-width: 100px;
}

table, form {
    background-color: rgba(255, 255, 255, 0.5);
}

.order-form, form{
    width: 75%;
}

.order-form {
    margin-left: 15%;
}

.overview {
    max-height: 80%;
    overflow-y: auto;
}