{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<div class="row h-100">
    <div class="col-sm-12 col-lg-3 offset-lg-1 mt-5">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="my-auto product-image">
    </div>
    <div class="col-sm-12 col-lg-3 mt-5">
        <h2 class="text-capitalize">{{ product.name }}</h2>
        <p>Date of capture: {{ product.date }}</p>
        <p>Description: {{ product.description }}</p>
    </div>
    <div class="col-sm-12 col-lg-3 mt-5">
        <form action="{% url 'basket_item' product.id %}" method="POST" name="AddToBasket">
            {% csrf_token %}
            <p>The price is calculated by the size and finish of the image, select your prefered size and finish to
                calculate the price then add to basket.</p>
            <p class="price fw-bold"></p>
            <div class="row">
                <div class="col-6">
                    <p><strong>Size:</strong></p>
                    <select class="form-control rounded-0 w-100 size_len_opt" required>
                        <option value="" disabled selected>-Select size-</option>
                        {% for size in sizes %}
                        <option value="{{ size.price }}{{size.sizes}}">{{ size.sizes }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-6">
                    <p><strong>Finish:</strong></p>
                    <select class="form-control rounded-0 w-100 finish_img_opt" required>
                        <option value="" disabled selected>-Select Finish-</option>
                        {% for finish in finishes %}
                        <option value="{{ finish.price }}{{ finish.friendly_name }}" class="finish_img">{{ finish.friendly_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button class="btn my-btn text-light mt-5 calculate">Calculate Price</button>
            <div class="col-sm-12 col-lg-3 mt-5">
                <div class="form-group row buttons">
                    <div class="input-group">
                    <input class="form-control" type="number" name="quantity" value="1" min="1" max="100" >
                    </div>
                    <input type="hidden" name="id" value="{{ product.id }}">
                    <input type="hidden" name="name" value="{{product.name}}">
                    <input type="hidden" name="image" value="{{product.image.url}}">
                    <input type="hidden" name="size_len" value="" class="SetSizeLen">
                    <input type="hidden" name="finish_img" value="" class="SetFinishImg">
                    <input type="hidden" name="price" value="" class="GetPrice">
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
            </div>
            <div class="row">
                        <div class="col-sm-6">
                            <input class="btn my-btn text-light mt-1 AddToBasket" type="submit" value="Add to basket" disabled>
                        </div>
                        <div class="col-sm-6">
                            <a href="{% url 'products' %}" class="btn my-btn text-light mt-1 mx-auto"><i
                                    class="fas fa-arrow-left"></i> Keep Shopping</a>
                        </div>
            </div>
            {% if request.user.is_superuser %}
                <div class="row">
                    <div class="col-sm-6">
                        <a href="{% url 'edit_product' product.id %}" class="btn my-btn text-light mt-1 mx-auto">Edit Image</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="{% url 'delete_product' product.id %}" class="btn my-btn text-light mt-1 mx-auto">Delete Image</a>
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
